<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row box-area">
      <div class="col-md-6 text-center left-box">
        <div class="mb-4">
          <img src="assets/food.png" class="img-fluid" style="width: 500px;">
        </div>
        <h2>Be Verified</h2>
        <p>Join experienced Designers on this platform.</p>
      </div> 
      <div class="col-md-6 right-box">
        <div class="text-center mb-4">
          <h2>Create an Account</h2>
          <p class="text-muted">Get started with us today!</p>
        </div>
        <form>
          <div class="row">
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="First Name">
            </div>
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control form-control-lg" placeholder="Last Name">
            </div>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control form-control-lg" placeholder="Email address">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control form-control-lg" placeholder="Password">
          </div>
          <div class="mb-3">
            <input type="password" class="form-control form-control-lg" placeholder="Confirm Password">
          </div>
          <div class="mb-3 form-check d-flex justify-content-between">
            <div>
              <input type="checkbox" class="form-check-input" id="formCheck">
              <label for="formCheck" class="form-check-label">I agree to the terms and conditions</label>
            </div>
          </div>
          <div class="mb-3">
            <button class="btn btn-lg btn-primary w-100">Sign Up</button>
          </div>
          <div class="mb-3">
            <small>Already have an account? <a href="login" class="text-muted">Log In</a></small>
          </div>
        </form>
      </div> 
    </div>
  </div>